@{
    ViewData["Title"] = "About Anchillary Cheese";
}
<h1>@ViewData["Title"]</h1>

<p>The idea for Anchillary Cheese came out of a conversation I had it work with the rest of my management team. A couple of us on the management team had gotten our regular test phishing emails. My friend (and co-worker) Tom and I both noticed that emails both had the same domain name for their links, ancillarycheese.com. Tom suggested the domain name of AnchillaryCheese.com and came up with the idea of a site that displays random images of cheese.
    I went out, bought the domain name, and built the site.</p>

    <p>The site is a .Net 6 MVC site running on Linux. The code is stored in a public repository on Github with build and deploy actions managed by Github actions. It was a fun learning project.</p>
