@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Because everyone could use a little "Anchillary Cheese".</p>
    @{
        var generator = new Random();
        var imageNum = generator.Next(1, 12);
        var imagePath = $"/images/{imageNum}.jpg";
        <p><img width="75%" src=@imagePath /></p>
    }
        
    
    
</div>
